html, body{
	margin: 0;
	padding: 0;
	background-color: #323234;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #FFFFFF;
}
	
input {
  float: left;
}

.buttons {
  display: inline-block;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #323234;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #323234;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button3:hover {
  background-color: #323234;
  color: white;
}

.button4 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button4:hover {
  background-color: #323234;
  color: white;
}

.button5 {
  background-color: white; 
  color: black; 
  border: 2px solid yellow;
}

.button5:hover {
  background-color: #323234;
  color: white;
}

.button6 {
  background-color: white; 
  color: black; 
  border: 2px solid yellow;
}

.button6:hover {
  background-color: #323234;
  color: white;
}

.button7 {
  background-color: white; 
  color: black; 
  border: 2px solid yellow;
}

.button7:hover {
  background-color: #323234;
  color: white;
}

.button8 {
  background-color: white; 
  color: black; 
  border: 2px solid red;
}

.button8:hover {
  background-color: #323234;
  color: white;
}

.button9 {
  background-color: white; 
  color: black; 
  border: 2px solid red;
}

.button9:hover {
  background-color: #323234;
  color: white;
}

.button10 {
  background-color: white; 
  color: black; 
  border: 2px solid red;
}

.button10:hover {
  background-color: #323234;
  color: white;
}

.lyrics-container {
    width: auto;
    height: 450px;
    overflow: scroll;
    text-align:center;
}

.form-textbox {
	width: 325px !important;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.white_content {
  text-align: center;
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 12px;
  border: 12px solid #4CAF50;
  background-color: black;
  z-index: 1002;
  overflow: auto;
}

.controls { 
    height: 35px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    right: 0%;
    left: 0%;
    background-color: #393838; 
    opacity: 1;
    border-style: solid; 
    border-width: thin; 
    border-color: #FFFFFF; 
    width: auto;
}

.ip {
	text-align: right;
}

.links {
	color:  #A0522D;
}
